@{
    ViewData["Title"] = "Home";
}

<div class="home-hero">
    <h1 class="display-4">
        <span class="mabuhay-blue">Mabuhay!</span>
        <span class="welcome-yellow">WELCOME TO</span>
    </h1>
    <h2 class="bayanihan-red">Barangay Bayanihan Online</h2>

    <div class="mt-5">
        <a href="#" class="btn btn-twitter">
            <i class="fab fa-twitter"></i> Learn More
        </a>
        <a href="#" class="btn btn-outline-light">
            <i class="fas fa-hands-helping"></i> Get Involved
        </a>
    </div>
</div>