@page "/"

<div class="text-center mt-5">
    <h1 class="display-4">
        <span style="font-family: 'Kaushan Script', sans-serif; color: blue;">Mabuhay!</span>
        <span style="font-family: 'Freeman', sans-serif; color: yellow;">WELCOME TO</span>
    </h1>
    <h2 style="font-family: 'Kaushan Script', cursive; color: red;">Bayanihan Online</h2>

    <div class="mt-5">
        <button class="btn btn-primary">Learn More</button>
        <button class="btn btn-outline-danger">Get Involved</button>
    </div>
</div>